{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>IS 218 Final Project</h1>
    <p class="important">
      Welcome to the Simplistic Studios. This webpage is combination of all three projects assigned during the fall 2021
        semester. Here you will see some articles along with a working calculator that takes user inputs.
        <br>
        <img src="{{ url_for('static', filename='images/SimplisticStudios.png') }}">
    </p>
{% endblock %}
